[submodule "imu_tools/"]
	url = https://github.com/CCNYRoboticsLab/imu_tools.git
	path = imu_tools
[submodule "mqtt_client/"]
	url = https://github.com/ika-rwth-aachen/mqtt_client.git
	path = mqtt_client
[submodule "robot_localization/"]
	url = https://github.com/cra-ros-pkg/robot_localization.git
	path = robot_localization
