<?xml version="1.0"?> 
<robot name="hunter_1" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="material_macros.xacro"/>

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find hunter_sim_pkg)/mesh/base_link.stl"/>
            </geometry>
            <material name="grey_1"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(hunter_sim_pkg)/mesh/base_link.stl" />
            </geometry>
        </collision>

        <intertia>
            <origin xyz="0.0374140021041951 -0.000373005187591258 -0.0771282894414029" rpy="0 0 0" />
            <mass value="24.73" />
            <inertia
                ixx="0.123215829336501"
                ixy="-2.51201031615063E-06"
                ixz="0.00480100638469038"
                iyy="0.219144715482931"
                iyz="-1.0329581476775E-05"
                izz="0.313606030126045" />
        </intertia>
    </link>

    <gazebo reference="base_link"> 
        <material>Gazebo/White</material> 
    </gazebo>

    
</robot>