


.App {
  text-align:justify;
  height:max-content;
  width:max-content;
  background-color: #282c34;
  margin-bottom: 0;
  box-sizing:border-box;
  border: 25px solid #282c34;

}
.map-container{
  height:90%;
  width: 50vw;
  align-items: center;
  background-color: #282c34;

}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: aliceblue;
  fill: #282c34;
  margin: 0;
  box-sizing: border-box;

}
.cards {
  background-color: #282c34;
  
  font-size: 20px;
  display: block;
  justify-content: center;
  color: aliceblue;
  size: 4cm;
  actions{
    color: #282c34;
  }

}
.App-link {
  color: #000506;
}

.map_cord{
  text-align: center;
  color:aliceblue;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.coordinates {
  text-align: center;
  color:aliceblue;
  justify-content: center;
  padding: 40px;
  display: flex;
  flex-direction: row;

}
